# copy this file to parameters.R, then change the username and password below.  Do not check parameters.R into source control!
# do not put a real username and password in parameters.R.dist, since it is checked into source control.

username <- 'username'
password <- 'password'
REST_ENDPOINT = 'https://nyu-demo.survos.com/api1.0'