# This file is used to set your relevant configuration options

# Username and password here. Important to retain parenthesis

username <- "YourUsernameHere"
password <- "YourPasswordHere"

# API Endpoint here

endPoint <- paste("https://nyu-demo.survos.com/app_dev.php/api1.0/", sep="")
